<div class="cbp-l-inline">
    <div class="cbp-l-inline-left">
        <img src="<%= snap.originalPath %>" alt="Dashboard" class="cbp-l-project-img">
    </div>

    <div class="cbp-l-inline-right">
        <div class="cbp-l-inline-title"><%= snap.name %></div>
        <div class="cbp-l-inline-subtitle"><%= moment(snap.created).format('dddd MMMM Do YYYY') %></div>

        <div class="cbp-l-inline-desc">
            <%= snap.description %>
    </div>

    <a href="/view/<%= snap.id %>" class="cbp-l-inline-view">VIEW SNAP</a>
        
    </div>
</div>
